.ItemList {
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 90%;
    margin: 2em auto;
}
.Item {
    margin:1em;
    background-color: rgb(240, 240, 240);
    padding: 1em;
    border-radius: 10px;
    box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.2);
-webkit-box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.2);
-moz-box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.2);
}

.Item img {
    width: 400px;
    height: auto;
}